[Unit]
Description=Thunder Monitor Telegram bot
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=%h/thunder-monitor
ExecStart=%h/thunder-monitor/venv/bin/python app/main.py --env PROD
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
